:root {
  font-family: sans-serif;
  color: white;
  height: 500vh;
}

body {
  background-color: black;
  height: 100vh;
  width: auto;
  z-index: 0;
  margin: 50px 50px 50px 50px;
}

nav {
  height: 50px;
  width: auto;
  border: 1px solid white;
  padding: 24px 0;
  margin: 40px 0;
  display: flex;
  font-size: 24px;
}

.welcome img {
  opacity: 1;
  z-index: 3;
  transition: 300ms ease;
  position: absolute;
  transform: scale(-1);
}
.welcome img:hover {
  transform: scale(1.05);
  translate: 20px 20px;
  transition: 300ms ease;
}

.events {
  translate: 0 140px;
}

.display {
  display: flex;
  z-index: 2;
  position: absolute;
  gap: 0;
  margin: 0;
  padding: 0;
}
.display:nth-child(1) {
  translate: 0;
}
.display:nth-child(2) {
  translate: 0 600px;
}
.display:nth-child(3) {
  translate: 598px;
}